@charset "UTF-8";
/*
 * header_ats_pc.css
 *
 *
 *
 */
/* !Clearfix
---------------------------------------------------------- */
.clearfix,
#headerIn,
.naviWrap01,
.headerTool01
{
	display: block;
	min-height: 1%;
}
.clearfix:after,
#headerIn:after,
.naviWrap01:after,
.headerTool01:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix,
* html #headerIn,
* html .naviWrap01,
* html .headerTool01
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* !contents
---------------------------------------------------------- */
#contents {
	margin: 20px auto 0;
	padding-bottom: 530px;
	width: 990px;
	text-align: left;
}
	#main {
		float: left;
		width: 660px;
		overflow: hidden;
	}
	#side {
		float: right;
		width: 300px;
	}
	
/* !Layout
---------------------------------------------------------- */
@media print {
	html,
	html body { *zoom: 0.65;}
}

.headerPC div,
.headerPC p,
.headerPC nav,
.headerPC ul,
.headerPC li,
.headerPC a,
.headerPC img{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.headerPC img
{ vertical-align: middle;}

/* !wrapper
---------------------------------------------------------- */
#wrapper {
	margin: 0 auto;
	width: 990px;
	text-align: left;
}
html,
body,
#wrapper {
	height: 100%;
}
body > #wrapper {
	height: auto;
	min-height: 100%;
}

/* !header
---------------------------------------------------------- */
.headerSP { display: none;}
#gNavi_sp { display: none;}
.headerPC {
	display: block;
	margin: 0 auto;
	width: 990px;
}
	#headerIn { 
		position: relative;
		text-align: left;
		height: 135px;
	}
		#headerLogo { 
			position: absolute;
			left: 0;
			top: 15px;
		}
		.headerTool01 {
			position: relative;
			float: right;
			padding: 5px 0 0 0;
			width: 100%;
			height: 28px;
			background: none;
			-webkit-border-bottom-right-radius: none;
			-moz-border-bottom-right-radius: none;
			border-bottom-right-radius: none;
		}
		.headerTool01:before { display: none;}
			#status01,
			#status02 {
				max-width: 403px;
				border-bottom: 3px solid #e0e1f0;
				margin: 2px 0 5px 0;
				padding: 0 5px 3px;
				float: right;
				font-size: 93%;
				line-height: 1.2;
			}
				#status01 .btnType06,
				#status01 .btnType07,
				#status02 .btnType06,
				#status02 .btnType07 {
					width: auto;
					font-size: 100%;
					line-height: 1.2;
					text-align: center;
					border: none;
					font-weight: bold;
					display: inline-block;
					float: none;
					margin: 0;
					padding: 5px 0 0 20px;
					background: none;
					color: #137;
					background: url(../../../ats-static/img/common/ico_arrow03_right.png) 5px 6px no-repeat;
				}
			#headerSearch { 
				position: relative;
				float: right;
				margin: 4px 0 0 10px;
				width: 293px;
				height: 23px;
			}
				#inputSearch01 {
					padding-left: 4px;
					width: 256px;
					height: 19px;
					background: #fff;
					border: solid 1px #848484;
					line-height: 19px;
					margin: 0;
				}
				#searchBtn01 {
					position: absolute;
					right: 0;
					top: 0;
				}
	.headerBanner01 {
		position: absolute;
		right: 0;
		top: 40px;
	}
		.headerBanner01 p {}
	
/* !gNavi
---------------------------------------------------------- */
#navi {}
	.naviWrap01 {
		margin-top: 10px;
		border: solid #dbdaf2;
		border-width: 0 0 2px;
	}
	.sports .naviWrap01 {
		border: solid #deedff;
		border-width: 0 0 2px;
	}
	.event .naviWrap01 {
		border: solid #e2f5ce;
		border-width: 0 0 2px;
	}
	.gourmet .naviWrap01 {
		border: solid #ffd7d6;
		border-width: 0 0 2px;
	}
	.movies .naviWrap01 {
		border: solid #ffe7d4;
		border-width: 0 0 2px;
	}
		.gNavi {
			float: left;
			border: solid #d3d3df;
			border-width: 1px 1px 0;
			-webkit-border-radius: 7px 7px 0 0;
			-moz-border-radius: 7px 7px 0 0;
			border-radius: 7px 7px 0 0;
		}
			.gNavi > li { 
				position: relative;
				float: left;
				border: solid #d3d3df;
				border-width: 0 1px 0 0;
				background: url(/ats-static/img/common/bg_gnavi01.gif) 0 0 repeat-x;
			}
			.news .gNavi > li,
			.social .gNavi > li,
			.sports .gNavi > li  { background: none;}
			.gNavi > li.first { 
				-webkit-border-radius: 7px 0 0 0;
				-moz-border-radius: 7px 0 0 0;
				border-radius: 7px 0 0 0;
			}
			.gNavi > li.last { 
				border-width: 0;
				-webkit-border-radius: 7px 7px 0 0;
				-moz-border-radius: 7px 7px 0 0;
				border-radius: 7px 7px 0 0;
			}
				.gNavi > li > p,
				.gNavi > li > span {
					display: table;
					height: 33px;
				}
				.gNavi > li > p > a,
				.gNavi > li > span > a  { 
					display: table-cell;
					vertical-align: middle;
					padding: 0 10px;
					text-decoration: none;
					font-size: 108%;
					font-weight: bold;
					color: #333;
				}
				.gNavi > li.first > p > a,
				.gNavi > li.first > span > a { 
					-webkit-border-radius: 5px 0 0 0;
					-moz-border-radius: 5px 0 0 0;
					border-radius: 5px 0 0 0;
				}
				.gNavi > li.last > p > a,
				.gNavi > li.last > span > a { 
					-webkit-border-radius: 0 5px 0 0;
					-moz-border-radius: 0 5px 0 0;
					border-radius: 0 5px 0 0;
				}
				.gNavi #gNav01 a:hover,
				.gNavi #gNav02 a:hover { background:  #dbdaf2;}
				.gNavi #gNav03 a:hover { background:  #deedff;}
				.gNavi #gNav04 a:hover { background:  #e2f5ce;}
				.gNavi #gNav05 a:hover { background:  #ffd7d6;}
				.gNavi #gNav06 a:hover { background:  #ffe7d4;}
				.gNavi #gNav07 a:hover { background:  #fde2ef;}
				.gNavi #gNav08 a:hover { background:  #ffee99;}
				.gNavi #gNav09 a:hover { background:  #caeaee;}
				.gNavi #gNav10 a:hover { background:  #ffcc77;}
				.gNavi #gNav11 a:hover { background:  #ffddec;}
					
				#g02 #gNav02 > p > a { background:  #dbdaf2;}
				#g03 #gNav03 > p > a { background:  #deedff;}
				#g04 #gNav04 > p > a { background:  #e2f5ce;}
				#g05 #gNav05 > p > a { background:  #ffd7d6;}
				#g06 #gNav06 > p > a { background:  #ffe7d4;}
				#g07 #gNav07 > p > a { background:  #fde2ef;}
				#g08 #gNav08 > p > a { background:  #ffee99;}
				#g09 #gNav09 > p > a { background:  #caeaee;}
				#g10 #gNav10 > p > a { background:  #ffcc77;}
				#g11 #gNav11 > p > a { background:  #ffddec;}
				
				#g02 #gNav02 > span > a { background:  #dbdaf2;}
				#g03 #gNav03 > span > a { background:  #deedff;}
				#g04 #gNav04 > span > a { background:  #e2f5ce;}
				#g05 #gNav05 > span > a { background:  #ffd7d6;}
				#g06 #gNav06 > span > a { background:  #ffe7d4;}
				#g07 #gNav07 > span > a { background:  #fde2ef;}
				#g08 #gNav08 > span > a { background:  #ffee99;}
				#g09 #gNav09 > span > a { background:  #caeaee;}
				#g10 #gNav10 > span > a { background:  #ffcc77;}
				#g11 #gNav11 > span > a { background:  #ffddec;}				
				
				
				
				
					.gNavi li .subGnavi01 {
						display: none;
						position: absolute;
						left: 0;
						top: 100%;
						border: solid #d3d3df;
						border-width: 1px;
						z-index: 9999;
					}
					.gNavi li .subGnavi02 {
						display: none;
						position: absolute;
						right: 0;
						top: 100%;
						border: solid #d3d3df;
						border-width: 1px;
						z-index: 9999;
					}
					.gNavi li:hover .subGnavi01,
					.gNavi li:hover .subGnavi02  { 
						display: block;
						margin-left: -1px;
						white-space: nowrap;
					}
						.gNavi li .subGnavi01 li,
						.gNavi li .subGnavi02 li {
							border: solid #d3d3df;
							border-width: 0 0 1px 0;
						}
						.gNavi li .subGnavi01 li.last,
						.gNavi li .subGnavi02 li.last { border: none;}
							.gNavi li .subGnavi01 li p,
							.gNavi li .subGnavi02 li p,
							.gNavi li .subGnavi01 li span,
							.gNavi li .subGnavi02 li span
							 {
								display: table;
								width: 100%;
								height: 33px;
							}
								.gNavi li .subGnavi01 li p a,
								.gNavi li .subGnavi02 li p a,
								.gNavi li .subGnavi01 li span a,
								.gNavi li .subGnavi02 li span a
								 {
									display: table-cell;
									background:  #eee;
									vertical-align: middle;
									padding: 0 16px;
									text-decoration: none;
									color: #333;
								}
						
		.sNavi { 
			display: inline-block;
			float: right;
			margin-top: 9px;
			border: solid #d3d3df;
			border-width: 0 1px 0;
		}
			.sNavi > li { 
				position: relative;
				float: left;
			}
			.sNavi > li.first  { 
				border: solid #d3d3df;
				border-width: 0 1px 0 0;
			}
				.sNavi > li > p,
				.sNavi > li > span {
					display: table;
					height: 25px;
				}
					.sNavi > li > p > a,
					.sNavi > li > span > a { 
						display: table-cell;
						vertical-align: middle;
						padding: 0 14px;
					}
					.sNavi > li  p  a:hover,
					.sNavi > li  span  a:hover { background: #deedff;}
					
			.sNavi li .subSnavi01 {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				margin-right: -1px;
				border: solid #d3d3df;
				border-width: 1px;
				z-index: 9999;
			}
			.sNavi li:hover .subSnavi01 { 
				display: block;
				white-space: nowrap;
			}
				.sNavi li .subSnavi01 li {
					background:  #eee;
					border: solid #d3d3df;
					border-width: 0 0 1px 0;
				}
				.sNavi li .subSnavi01 li.last {
					border-width: 0;
				}
					.sNavi li .subSnavi01 li p,
					.sNavi li .subSnavi01 li span {
						display: table;
						width: 100%;
						height: 33px;
					}
						.sNavi li .subSnavi01 li p a,
						.sNavi li .subSnavi01 li span a {
							display: table-cell;
							vertical-align: middle;
							padding: 0 16px;
							text-decoration: none;
							font-size: 85%;
							color: #333;
						}
		.secondNavi01 { 
			padding: 0;
			height: 30px;
			background: #bbbeee;
			font-size: 93%;
		}
			.secondNavi01 li { 
				display: table;
				float: left;
				width: 123px;
				height: 30px;
				text-align: center;
			}
			.secondNavi01 li.w60 { width: 60px;}
			.secondNavi01 li.w70 { width: 70px;}
			.secondNavi01 li.w75 { width: 75px;}
			.secondNavi01 li.w80 { width: 80px;}
			.secondNavi01 li.w90 { width: 90px;}
			.secondNavi01 li.w100 { width: 100px;}
			.secondNavi01 li.w110 { width: 110px;}
			.secondNavi01 li.w150 { width: 150px;}
				.secondNavi01 li a {
					display: table-cell;
					vertical-align: middle;
					text-decoration: none;
					color: #333;
				}
				.secondNavi01 li a:hover,
				.secondNavi01 li.active a { 
					background: #8176c9;
					color: #fff;
				}
		
