.ra_image {
  margin-bottom:3px;
}
.movie {
  float:right;
  width:120px;
  margin-right:10px;
  margin-left:15px;
  line-height:120%;
}
.zoom {
  margin:0px 5px 0px 5px;
  line-height:130%;
  text-align:left;
}
.ul_newsList {
  margin:0px;
  padding:0px;
}
.relatedArticleOuterBox * {
  font-family:"メイリオ","ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3","IPA Pゴシック",sans-serif;
}
.categoryTitleBoxRelated h2 a:link {
/*  color:#000000; */
  font-size:12px;
  text-decoration:none;
}
.categoryTitleBoxRelated h2 a:visited {
/*  color:#000000; */
  font-size:12px;
  text-decoration:none;
}
.categoryTitleBoxRelated h2 a:hover {
/*  color:#000000; */
  font-size:12px;
  text-decoration:underline;
}
.categoryTitleBoxRelated h2 a:active {
/*  color:#000000; */
  font-size:12px;
  text-decoration:underline;
}
.categoryTitleBoxRelated img {
  margin-left:0px;
  margin-right:20px;
  margin-top:0px;
  vertical-align:middle;
  border-style: none;
}
.categoryTitleBoxRelated h2 {
  float:left;
  font-size:12px;
  letter-spacing:normal;
  margin:0px;
  padding:0px;
  vertical-align:middle;
}
.categoryTitleBoxPowered {
  clear:both;
  color:#666666;
 /* float:right;*/
  font-size:10px;
  height:10px;
  line-height:normal;
  margin:0px 2px 5px 0px;
}
.categoryTitleBoxRelated {
  background:#FFFFFF url(http://www.47news.jp/cgi-bin/ra/image/relatedtitle.gif) no-repeat scroll left top;
  border:1px solid #FF9900;
  height:30px;
/*  margin-top:10px; */
}
.RelatedNewsList {
  font-size: 12px;
  border-bottom:1px solid #FF9900;
  border-left:1px solid #FF9900;
  border-right:1px solid #FF9900;
  clear:both;
  color:#666666;
  padding-top:10px;
  height:100%;
}
.RelatedNewsList ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  /* margin-bottom:10px;*/
  margin-right:5px;
}
.RelatedNewsList li {
  background:transparent url(http://www.47news.jp/cgi-bin/ra/image/relatedicon.gif) no-repeat scroll 8px 50%;
  letter-spacing:normal;
  padding-left:20px;
}
.RelatedNewsList a:link {
/*  color:#2460A8; */
  font-size:12px;
  text-decoration:none;
}
.RelatedNewsList a:visited {
/*  color:#993399; */
  font-size:12px;
  text-decoration:none;
}
.RelatedNewsList a:hover {
/*  color:#FF6600; */
  font-size:12px;
  text-decoration:underline;
}
.RelatedNewsList a:active {
/*  color:#FF6600; */
  font-size:12px;
  text-decoration:none;
}
.categoryTitleBoxPowered a:link {
/*  color:#666666; */
  font-size:10px;
  text-decoration:none;
}
.categoryTitleBoxPowered a:visited {
/*   color:#666666; */
  font-size:10px;
  text-decoration:none;
}
.categoryTitleBoxPowered a:hover {
/*  color:#666666; */
  font-size:10px;
  text-decoration:underline;
}
.categoryTitleBoxPowered a:active {
  font-size:10px;
  text-decoration:underline;
}
